.container {
    background-color:rgb(47, 50, 52, 0.1);
}
.dash-card-row {
    justify-content: space-around;
    
}
.dash-card-1 {
    padding: 2rem;
    background: rgba(255,226,82,1);
background: -moz-linear-gradient(-45deg, rgba(255,226,82,1) 0%, rgba(255,107,220,1) 88%, rgba(255,107,220,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,226,82,1)), color-stop(88%, rgba(255,107,220,1)), color-stop(100%, rgba(255,107,220,1)));
background: -webkit-linear-gradient(-45deg, rgba(255,226,82,1) 0%, rgba(255,107,220,1) 88%, rgba(255,107,220,1) 100%);
background: -o-linear-gradient(-45deg, rgba(255,226,82,1) 0%, rgba(255,107,220,1) 88%, rgba(255,107,220,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(255,226,82,1) 0%, rgba(255,107,220,1) 88%, rgba(255,107,220,1) 100%);
background: linear-gradient(135deg, rgba(255,226,82,1) 0%, rgba(255,107,220,1) 88%, rgba(255,107,220,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe252', endColorstr='#ff6bdc', GradientType=1 );


}
.dash-card-2 {
        padding: 2rem;
    background: rgba(211,90,187,1);
background: -moz-linear-gradient(-45deg, rgba(211,90,187,1) 0%, rgba(211,90,187,1) 22%, rgba(100,183,216,1) 89%, rgba(100,183,216,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(211,90,187,1)), color-stop(22%, rgba(211,90,187,1)), color-stop(89%, rgba(100,183,216,1)), color-stop(100%, rgba(100,183,216,1)));
background: -webkit-linear-gradient(-45deg, rgba(211,90,187,1) 0%, rgba(211,90,187,1) 22%, rgba(100,183,216,1) 89%, rgba(100,183,216,1) 100%);
background: -o-linear-gradient(-45deg, rgba(211,90,187,1) 0%, rgba(211,90,187,1) 22%, rgba(100,183,216,1) 89%, rgba(100,183,216,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(211,90,187,1) 0%, rgba(211,90,187,1) 22%, rgba(100,183,216,1) 89%, rgba(100,183,216,1) 100%);
background: linear-gradient(135deg, rgba(211,90,187,1) 0%, rgba(211,90,187,1) 22%, rgba(100,183,216,1) 89%, rgba(100,183,216,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d35abb', endColorstr='#64b7d8', GradientType=1 );
    
}
.dash-card-3 {
    padding: 2rem;
    background: rgba(0,189,214,1);
background: -moz-linear-gradient(45deg, rgba(0,189,214,1) 0%, rgba(0,189,214,1) 45%, rgba(24,199,5,1) 98%, rgba(24,199,5,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,189,214,1)), color-stop(45%, rgba(0,189,214,1)), color-stop(98%, rgba(24,199,5,1)), color-stop(100%, rgba(24,199,5,1)));
background: -webkit-linear-gradient(45deg, rgba(0,189,214,1) 0%, rgba(0,189,214,1) 45%, rgba(24,199,5,1) 98%, rgba(24,199,5,1) 100%);
background: -o-linear-gradient(45deg, rgba(0,189,214,1) 0%, rgba(0,189,214,1) 45%, rgba(24,199,5,1) 98%, rgba(24,199,5,1) 100%);
background: -ms-linear-gradient(45deg, rgba(0,189,214,1) 0%, rgba(0,189,214,1) 45%, rgba(24,199,5,1) 98%, rgba(24,199,5,1) 100%);
background: linear-gradient(45deg, rgba(0,189,214,1) 0%, rgba(0,189,214,1) 45%, rgba(24,199,5,1) 98%, rgba(24,199,5,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bdd6', endColorstr='#18c705', GradientType=1 );
}
.dash-bar-row {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* width: 50vw; */
    /* height: 20vw; */
    /* background-color: white; */
    margin: 2rem;
    border-radius: 5%;
}
.dash-bar-graph {
    width: 95%;
    height: 100%;
    /* margin-left: 5px; */
    background-color: white;
    /* margin: 2rem; */
    border-radius: 5%;
}
.dash-pie-chart {
    
    width: 100%;
    height: calc(25% * width);
    background-color: white;
    /* margin: 2rem; */
    border-radius: 5%;

}